h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
} 

p,a,input,label,textarea,span,ul,li{
	font-family: 'Open Sans', sans-serif;
}

.btn{
	background: darkgray;
    color: white;
    padding: 10px 20px;
    border-radius: 19px;
}

#nav img{
	width: 100px;
}

#nav li{
	margin: 0px 15px;
}

#intro .container{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#intro .jumbotron{
	color: white;
	height: 60%;
	margin-bottom: 0px;
	background-image: url("./image/jumbotron.jpg");
	background-size: cover;}
}	

#intro h1{
	font-size: 50px;
    font-weight: 600;
    line-height: 1.5;
}

#content {
	padding: 60px 0px;
	line-height: 3;
	position: relative;
	top: 10%;
	-webkit-transform: translateY(-10%);
	-ms-transform: translateY(-50%);
	transform: translateY(-10%);
}

#content h3{
	font-size: 40px;
	margin-bottom: 40px;
}


#content p.slogen{
	font-weight: 600;
    font-size: 20px;

}

#content p.lead{
	font-weight: 600;
}

#content img{
	width: 150px;
    border-radius: 100px;
}

#gallery img{
	padding: 10px 0px;
}

#gallery .row{
	padding: 0px 20px;
}